# Lambda Function And Map

Q Sort all the numbers in a list in descending order using lambda function

In [2]:
l=[3,4,2,5,6,8,9,3,1]
sorted_l = sorted(l, key = lambda x:-x)
print(sorted_l)

[9, 8, 6, 5, 4, 3, 3, 2, 1]

In [5]:
# Without Lambda
l=[3,4,2,5,6,8,9,3,1]
sorted_l = sorted(l, reverse = True)
print(sorted_l)

[9, 8, 6, 5, 4, 3, 3, 2, 1]

Q Sort all the characters of given string using lambda function

In [8]:
s = "pronounciation"
sorted_s = sorted(s, key = lambda x: x)
print(sorted_s)

['a', 'c', 'i', 'i', 'n', 'n', 'n', 'o', 'o', 'o', 'p', 'r', 't', 'u']

In [9]:
# Without lambda
s = "pronounciation"
sorted_s = sorted(s)
print(sorted_s)

['a', 'c', 'i', 'i', 'n', 'n', 'n', 'o', 'o', 'o', 'p', 'r', 't', 'u']

Q Given list of strings, sort all the strings by last character of that string. . Use lambda function and normal function both.

In [12]:
ls = ['i', 'am', 'contained', 'with', 'everything', 'that', 'i', 'have']
lsorted = sorted(ls, key = lambda x: x[-1])
print(lsorted)

['contained', 'have', 'everything', 'with', 'i', 'i', 'am', 'that']

In [16]:
# With Normal Function
def return_last(s):
    return s[-1]

ls = ['i', 'am', 'contained', 'with', 'everything', 'that', 'i', 'have']
lsorted = sorted(ls, key = return_last)
print(lsorted)

['contained', 'have', 'everything', 'with', 'i', 'i', 'am', 'that']

Q Given list of employees. This list may contain repetitions. Find all unique employee names and print them as per order of second character in that name. Use lambda function and normal function both.

In [19]:
l_emp = ['Ram', 'Lakshman','Hanuman', 'Ravan', 'Vibhishan', 'Ram', 'Sita', 'Hanuman']
set_emp = set(l_emp)
l_emp1 = list(set_emp)
l_sorted = sorted(l_emp1, key = lambda x: x[1])
print(l_sorted)

['Hanuman', 'Ram', 'Lakshman', 'Ravan', 'Sita', 'Vibhishan']

Q. Take Employee id and Employee name of 5 employees from user. Store it in dictionary. Print all employees in increasing order of employee Id . Also print all employees in alphabetical order by name.

In [34]:
emp_data = { 5:'Sahdev', 2: 'Bheem', 1:'Yudhishthir', 4:'Nakul' , 3:'Arjun'}
sorted_id_emp = sorted(emp_data.items())
sorted_name_emp = sorted(emp_data.items(), key = lambda x : x[1]) 
print(sorted_id_emp)
print(sorted_name_emp)

[(1, 'Yudhishthir'), (2, 'Bheem'), (3, 'Arjun'), (4, 'Nakul'), (5, 'Sahdev')]
[(3, 'Arjun'), (2, 'Bheem'), (4, 'Nakul'), (5, 'Sahdev'), (1, 'Yudhishthir')]

Q. Take comma separated numbers as input from the user. Split it in list of strings. Now convert every string in this list to float using map function

In [40]:
str_list = input("Enter float numbers and seperate them by comma (,) : ").split(',')
flt_list = list(map(lambda x: float(x)  ,str_list))
print(flt_list)

Enter float numbers and seperate them by comma (,) : 12,12.3,12.4,56
[12.0, 12.3, 12.4, 56.0]

Q Given list of floating point numbers. Convert every number into string and then join all the numbers such that they are separated by pipe(|)

In [50]:
flt_list = input("Enter list of float : ").split()
str_list = list(map(lambda x: str(x), flt_list))
final_list = str_list[0].replace(',', '|')
print(final_list)

Enter list of float : 12.3,45.6,77.7,88.6,45.9
12.3|45.6|77.7|88.6|45.9

Q Given list of integers. Use map function to calculate square of all and store in list. Then print sum of all square values.

In [53]:
ls = input("Enter list of numbers : ").split()
int_list = list(map(lambda x: int(x), ls))
sq_list = list(map(lambda x: x**2, int_list))
print(sq_list)

Enter list of numbers : 1 2 3 4 5 6 7 8
[1, 4, 9, 16, 25, 36, 49, 64]