# Logic Building

Simple Calculator Program

In [5]:
print("Welcome to menu!")
print("Press 1 to ADD \nPress 2 to SUBTRACT \nPress 3 to MULTIPLY \nPress 4 to DIVIDE \n")
choice = int(input("Enter your choice : "))
match choice:
    case 1:
        n = int(input("Enter number of numbers you want to add : "))
        count=0
        l=[1]
        for i in range(1,n):
            l[i]=int(input("Enter number {} :".format(i)))
        for ele in l:
            count += ele
        print("Total is : ", count)

Welcome to menu!
Press 1 to ADD
Press 2 to SUBTRACT
Press 3 to MULTIPLY
Press 4 to DIVIDE

Enter your choice : 1
Enter number of numbers you want to add : 1
Total is :  1

 WAP to print the odd numbers from 1 to 99. Prints one number per line.

In [7]:
for i in range(1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

WAP  to accept a number and check the number is even or not. Prints 1 if the number is even or 0 if the number is odd.

In [3]:
n = input("Enter a number: ")
if n.isdigit():
    if int(n) % 2 == 0:
        print('1')
    else:
        print('0')
else:
    print("Please enter a valid input !")

Enter a number: as
Please enter a valid input !

WAP to print numbers between 1 to 100 which are divisible by 3, 5 and by both
( total 3 list of numbers to be printed)

In [5]:
l3=[ele for ele in range(3,101,3)]
l5=[ele for ele in range(5,101,5)]
l3_5=[ele for ele in range(15,101,15)]
print("Numbers divisible by 3 are : ",l3)
print("Numbers divisible by 5 are : ",l5)
print("Numbers divisible by bith 3 and 5 are : ",l3_5)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[15, 30, 45, 60, 75, 90]

WAP that accepts three integers from the user and return true if two or more of them (integers ) have the same rightmost digit. The integers are non-negative

In [16]:
def return_l_digit(l):
    count = 0
    for i in range(len(l)):
        for j in range(i+1,len(l)):
            if (int(l[i]) % 10) == (int(l[j]) % 10):
                return True
                break


ls = input("Enter 3 numbers, seperate by _ : ").split()
count = 0
for ele in ls:
    if ele.isdigit():
        if int(ele) < 0:
            print("Please enter positive number : ")
        else:
            if return_l_digit(ls):
                print("Same digits at one's place found !")
            break
    else:
        print("Please enter a valid input !")
        break

Enter 3 numbers, seperate by _ : 12 12 36 asc
Same digits at one's place found !

WAP to convert input number of seconds to HH:MM:SS.

In [48]:
sec = int(input("Enter number of seconds : "))
mins = 0
hrs = 0
if sec > 60 :
    mins = sec / 60
    mins = int(mins)
    sec = sec % 60
if mins > 60:
    hrs = mins/60
    mins = mins % 60
    hrs = int(hrs)
print(f"{hrs:02}",':',f"{mins:02}",':',f"{sec:02}")

Enter number of seconds : 9501
02 : 38 : 21

WAP to print all leap years between 2000 to 2100. Apply all conditions of checking leap year ( (divisible by 4 and not divisible by 100) OR (divisible by 400))

In [51]:
for i in range(2000,2101):
    if ((i % 4 == 0) and (i % 100 != 0)) or (i % 400 == 0):
        print(i)

2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096

WAP to print calender for a month. Take how many days are there in month and starting day of the month as input
    Ex. input no of days : 30  starting day of month : Thursday
    Ouput :: Day wise Calender  ( just like June 2022 month)

In [12]:
def match_days(d,s):
    l_days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat']
    day_key = 0
    for i in range(len(l_days)):
        if s == l_days[i]:
            day_key = i
            print(day_key)
            break
        
    d_month = dict()
    for i in range(0, d):
        if i<=4:
            j=i+2
            d_month[l_days[j]] = [i+1]
        if i>=5:
            if (i%7==0):
                j=0
                d_month[l_days[j]].append(i+1)
                j+=1
            else: 
                d_month[l_days[j]].append(i+1)
                j+=1
    print(d_month)


days = int(input("Enter number of days : "))
s_day = input("Enter first day of the month : ")
match_days(days, s_day)

Enter number of days : 7
Enter first day of the month : Wed
3

IndexError: list index out of range

WAP to print day of input date when given day for 1st day of that month
    ex. input date : 16/07/2022  day of 1st day of that month : Friday
    output : saturday

Factorial Program using Recursion
    n! = n * (n-1) * (n-2) * ... *2*1

In [5]:
def fact(n):
    if n>0:
        return n*fact(n-1)
    else:
        return 1
fact(6)

720

Factorial of a number using loop
    n! = n * (n-1) * (n-2) * ... *2*1

In [8]:
n = int(input("Enter a number : "))
fact = 1
for i in range(1,n+1):
    fact = fact*i
print(fact)

Enter a number : 5
120

Fibonacci Series.
    1,1,2,3,5,8,13,21,34,...

In [10]:
n = int(input("Enter number of terms : "))
a = 0
b = 1
temp = 0
print(a, b, end=' ')
for i in range(n-2):
    temp = a
    a = b
    b += temp
    print(b, end=' ')

Enter number of terms : 10
0 1 1 2 3 5 8 13 21 34

Armstrong Number.
    It is a number with 'n' digits. Here (sum of every digit ^ n) equal to ( number itself)

    1) 1^3 5^3 3^3=153 ( here number of digits(n) is 3)
    2) 1^1 = 1 ( here number of digits is 1)
    3) 1634 = 1^4 + 6^4 + 3^4 + 4^4 ( here number of digits is 4)

In [17]:
n = input("Enter a number : ")
# m = [ele for ele in range(len(n)) n%10]
m=[]
for i in range(len(n)+1):
    m[i]=int(n)%10
print(n.m)

Enter a number : 123

IndexError: list assignment index out of range