# Set

1. Add a list of elements to a given set
Given:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red",”Yellow”,”orange”]

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red","Yellow","orange"]

for e in sampleList:
    sampleSet.add(e)
print(sampleSet)

{'Orange', 'Red', 'Blue', 'orange', 'Yellow', 'Green', 'Black'}

2. display common elements from the given set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)

{40, 50, 30}

3. Generate a new set with all items from both sets by removing numbers which are in both sets.
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}
o/p : order is not important
{70, 10, 20, 60,25,100}

In [ ]:
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}
set1 ^ set2

{10, 20, 25, 60, 70, 100}

4. set of all elements in either A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{20, 70, 10, 60}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1 ^=set2
print(set1)

{70, 10, 20, 60}

5. Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{70, 10, 20, 60}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1 ^=set2
print(set1)

{70, 10, 20, 60}

6. Take a sentence as input from user. Every word is seperated by space. Print all unique words from the sentence.

In [ ]:
w = input("Enter the sentence: ")
# unique = set(w)
# print(unique)

# print(w)
words_list = w.split()

unique_words = set(words_list)
print(unique_words)

Enter the sentence: my my my kalpesh patil
{'patil', 'my', 'kalpesh'}

# tuple

1. Reverse the following tuple
aTuple = (10, 20, 30, 40, 50,60)
Expected output:
(60,50, 40, 30, 20, 10)

In [ ]:
aTuple = (10, 20, 30, 40, 50,60)
# aTuple[::-1]
tuple(reversed(aTuple))

(60, 50, 40, 30, 20, 10)

2. display value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [ ]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20

3. Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)

In [ ]:
aTuple = (10, 20, 30, 40)
a,b,c,d = aTuple
print(a,b,c,d)

10 20 30 40

4. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
Expected output:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple1,tuple2)

(99, 88) (11, 22)

In [ ]:
# swap two values
x,y = 1,2
x,y = y,x
print(x,y)

2 1

5. Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:
tuple2: (44, 55)

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
print(tuple2)

(44, 55)

6. Modify the first item (22) of a list inside a following tuple to 200
tuple1 = (11, [22, 33], 44, 55)
Expected output:
tuple1: (11, [200, 33], 44, 55)

In [ ]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=200
print(tuple1)

(11, [200, 33], 44, 55)

7. Take two integer values in a & b. Swap their values using tuple, using temparary variable and without tuple and without temparary variable.
Ex. a=10 b=23
After swapping a=23 b=10

In [ ]:
a=10
b=23
a,b = b,a
print(a,b)

23 10

In [ ]:
# without temp variable
a=5
b=2
a = a+b
b = a-b
a = a-b
print(a,b)

2 5

In [ ]:
# with temp variable
a=5
b=2
temp = a
a = b
b = temp


print(a,b)

2 5

# Dictionary Assignments

1. In cryptography, a Caesar cipher is a very simple encryption techniques in which each letter in the plain text is replaced by a letter some fixed number of positions down the alphabet. For example, with a shift of 3, A would be replaced by D, B would become E, and so on. The method is named after Julius Caesar, who used it to communicate with his generals. ROT-13 ("rotate by 13 places") is a widely used
example of a Caesar cipher where the shift is 13. In Python, the key for ROT-13 may be represented by means of the following dictionary
{'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c',
'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}

In [1]:
dic={'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c',
'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
cod="Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!"
encode=""
for ele in cod:
    if ele==(" "):
        a=" "
    elif ele.isalpha():
        a=dic.get(ele)
    encode=encode+a

print("".join(encode))

Caesar cipherr I much prefer Caesar saladd

2. Given a dictionary of students and their favourite colours:
people={'Arham':'Blue','Lisa':'Yellow',''Vinod:'Purple','Jenny':'Pink'}
a. Find out how many students are in the list
b. Change Lisa’s favourite colour
c. Remove 'Jenny' and her favourite colour

In [ ]:
people = {'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}

#a]
print(len(people))

#b]
people['Lisa']='white'
print(people)

#c]
del people['Jenny']
print(people)

4
{'Arham': 'Blue', 'Lisa': 'white', 'Vinod': 'Purple', 'Jenny': 'Pink'}
{'Arham': 'Blue', 'Lisa': 'white', 'Vinod': 'Purple'}

2. Given a dictionary of students and their favourite colours: people={'Arham':'Blue','Lisa':'Yellow',''Vinod:'Purple','Jenny':'Pink'} a. Find out how many students are in the list b. Change Lisa’s favourite colour c. Remove 'Jenny' and her favourite colour

In [2]:
people={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}

print("There are",len(people),"People in dictionary")
# people=people('Lisa','Black')
people['Lisa']='Black'
people.pop("Jenny")
print(people)

There are 4 People in dictionary
{'Arham': 'Blue', 'Lisa': 'Black', 'Vinod': 'Purple'}

4. Sort and print students and their favourite colours alphabetically by name

In [14]:
students={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}
lis = list(students.keys())
lis.sort()
Sort_dic = {i:students[i] for i in lis}
print(Sort_dic)

{'Arham': 'Blue', 'Jenny': 'Pink', 'Lisa': 'Yellow', 'Vinod': 'Purple'}

3. Write a menu driven program to practice Dictionary functions.

Write a program to accept name of a person and their vehicle and store it in a dictionary.
Ask user if they want to continue to accept multiple values.
Display following menu:
a. Add new person name and a vehicle name.
b. Delete a person name and vehicle name from the dictionary.
----Accept person name from user.
----Check whether person name exists in the dictionary.
----If exists show person name and vehicle name to the user.
----Confirm for deletion, if user enters y
then delete otherwise no. Display appropriate message.
c. Modify vehicle name for the person
----Accept a person name from user.
----Check whether the person’s name exists.
----If the name exists, show the person’s name and vehicle name to user.
Ask for new value and then overwrite the old value.
d. Search vehicle for the given person’s name.
e. Search list of people, who have given a vehicle
f. Display all person names.
g. Display all vehicle names.
h. Exit

In [ ]:
veh_dict={}
print("Welcome to menu!")
print("Press 1 to Add record \nPress 2 to Delete record \nPress 3 to Modify record \nPress 4 to Search Vehicle \nPress 5 to Search People \nPress 6 to Display all names \nPress 7 to Display all vehicles.")

choice= input('Enter your choice : ')

match choice:
    case '1':
        name = input("Enter Name : ") 
        veh = input(" Enter Vehicles : ")
        veh_dict.update({name:veh})

Welcome to menu!
Press 1 to Add record
Press 2 to Delete record
Press 3 to Modify record
Press 4 to Search Vehicle
Press 5 to Search People
Press 6 to Display all names
Press 7 to Display all vehicles.